
.footer {
    background: #0067A3;
    height: 55px;
    display: flex;
    align-items: center;
}
span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    white-space: nowrap;
}

.Active{
margin: 0 0 0 21px;
}

.Finished{
    margin: 0 0 0 36px;
}

.name{
    margin: 0 0 0 1200px;
}
